/* style.css by GoDzM4TT3O */

/* Align Paragraphs */
@media (min-width: 55em) {
	.sect { display: inline-block; vertical-align: top; }
}

.sect { max-width: 275px; }
html { margin-bottom: 300px ; }

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* Dark Mode CSS */
html, body, :not([style*="background-color:"]) {
   	background-color: rgb(16, 20, 23) !important;
}

/* Color headers and links */
h1:not([style*="color:"]),
h2:not([style*="color:"]),
h3:not([style*="color:"]),
h4:not([style*="color:"]),
h5:not([style*="color:"]),
h6:not([style*="color:"]) {
	color: rgb(247, 142, 102) !important;
}

a:not([style*="color:"]) {
	color: rgb(128, 182, 204) !important;
}

a:not([style*="color:"]):hover {
	color: rgb(150, 250, 300) !important;
}

a:not([style*="color:"]):active, a:not([style*="color:"]):focus {
	color: rgb(155, 203, 230) !important;
}

/* Make text white where needed */
p, li, code { color: #FFFFFF !important; }

/* Scale "code" tag */
code { font-size: 1.3em;  }
